
<%- include('../shared/includes/head', {pageTitle: 'All Clients'})%>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include('../shared/includes/header')%>
<main>
<h1>Извештај за работа на агенти</h1>

<p>This page will have all reports related to the work of the agents. The sells, payments recieved and other actions including their fees </p>


<p>Исто така, на оваа страна ќе бидат наведени сите агенти и процентот на нивната наплата за сите клиенти заедно, а и за секој клиент посебно. Износ на исплатена провизија и слично. Ова ќе биде видлови само за администраторот - лице со посебне начин на влез во програмата</p>
</main>

<%- include('../shared/includes/footer')%>


