<%- include('../shared/includes/head', {pageTitle: 'Agents info'})%>
<link rel="stylesheet" href="/styles/policies.css">

</head>
<body>
<%- include('../shared/includes/header')%>
<main>
<h1>Податоци и други показатели за агенти</h1>
<form action="/outside-agent" method="POST" class="search-agent">
    <section class="search-agent">
<input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
<select type="text" name="agentSeller" id="agentSeller" placeholder="Агент - продавач"> 
    <option value="vp">ВАШ ПРИЈАТЕЛ АД Прилеп</option>    
    <option value="БРАЦО ДООЕЛ">БРАЦО ДООЕЛ</option>
    <option value="Борче ЕУРОАГЕНТ">Борче ЕУРОАГЕНТ</option>
    <option value="БОШКОСКИ">БОШКОСКИ</option>
    <option value="----"> -----------------Агенти под Канцеларија Кузман Јосифоски Питу---------------</option>
    <option value="Васе Стефаноска">Васе Стефаноска</option>
    <option value="Пеце Мицакоски">Пеце Мицакоски</option>
    <option value="Ана Марија Димоска">Ана Марија Димоска</option>
    <option value="Дејан Петровски">Дејан Петровски</option>
    <option value="Лумјан Крензи"> Лумјан Крензи </option>
    <option value="Билјана Мирческа"> Билјана Мирческа </option>
    <option value="Александра Цуцулоска"> Александар Цуцулоска</option>
    <option value="Владимир Ѓорѓимајкоски">Владимир Ѓорѓимајкоски</option>
    <option value="Анита Бошева">Анита Бошева</option>
    <option value="Далиборка Башеска Јорданоска">Далиборка Башеска Јорданоска</option>
    <option value="Ненад Митиќ">Ненад Митиќ</option>
    <option value="Оливер Бузлески">Оливер Бузлески</option>
    <option value="Слаѓана Николоска">Слаѓана Николоска</option>
    <option value="Маре Петреска">Маре Петреска</option>
    <option value="Денис Трајчески">Денис Трајчески</option>
    <option value="Виктор Митрески">Виктор Митрески</option>
    <option value="----"> -----------------Агенти под Канцеларија Димо Наредникот---------------</option>
    <option value="Ана Видеска">Ана Видеска</option>
    <option value="Нури Мустафа">Нури Мустафа</option>
    <option value="Дино Ташкоски">Дино Ташкоски</option>
    <option value="Алмир Хаjро">Алмир Хаjро</option>
    <option value="Џеват Дајтоски">Џеват Дајтоски</option>
    <option value="Владимир Мандароски">Владимир Мандароски</option>
    <option value="Фатмир Демоски">Фатмир Демоски</option>
    <option value="Филип Трајкоски">Филип Трајкоски</option>
    <option value="Коле Јовески">Коле Јовески</option>
    <option value="Мартин Димоски">Мартин Димоски</option>
    <option value="Борче Јосифоски">Борче Јосифоски</option>
    <option value="Недзми Јусуфи">Недзми Јусуфи</option>
    <option value="АЛМА БЕЈЗ">АЛМА БЕЈЗ</option>
    <option value="Севџан Османоски">Севџан Османоски</option>
    <option value="Изабела Цуцулоска">Изабела Цуцулоска</option>
</select>
<div>
<label for="start-date">Почетен датум:</label>
<input type="date" name="startDate" id="startDate">
<label for="start-date">Краен датум:</label>
<input type="date" name="endDate" id="endDate">
</div>
<button class="btn">Барај</button>
</section>
</main>
<%- include('../shared/includes/footer')%>
