<%- include('../../shared/includes/head', {pageTitle: 'All Clients'})%>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
 <%- include('../../shared/includes/header')%>
<main>
    <h1>Сите клиенти против кој е заводена судска постапка</h1>
    <p>Листа на клиенти кои се тужени пред надлежен суд</p>
    
</main>

<%- include('../../shared/includes/footer')%>


