<%- include('includes/head', {pageTitle: 'An error occurred'})%>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
 <%- include('includes/header')%>
<main>
    <h1>Немате авторизација</h1>
<p><a class='btn'href="/">Назад</a></p>
    
</main>

<%- include('includes/footer')%>


