<%- include('./shared/includes/head', {pageTitle: 'All Clients'})%>
    <link rel="stylesheet" href="/styles/base.css">

</head>
<body>
 <%- include('./shared/includes/header')%>
<main>
    <h1>ВАШ ПРИЈАТЕЛ АД Прилеп</h1>
    <h3>Секогаш тука за Вас</h3>
    <img src="https://scontent.fskg1-2.fna.fbcdn.net/v/t1.6435-9/82012087_2767091050184488_314925852754182144_n.png?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=10LFbDrzr4cAX_ygC_1&_nc_ht=scontent.fskg1-2.fna&oh=00_AT-V1KG-8y5t7fVrBehcMQsD9FxRSVkB9g3XBfhXGkydZw&oe=62C91AC5" alt="ВАШ ПРИЈАТЕЛ АД Прилеп">
</main>
<%- include('./shared/includes/footer')%>


