<%- include('../../shared/includes/head', {pageTitle: 'All Clients'})%>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
 <%- include('../../shared/includes/header')%>
<main>
    <h1>Внеси нов клиент</h1>
    <form action="/new-client" method="POST">
        <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="Име и презиме" required>
        <label for="address"></label>
        <input type="text" name="address" id="address" placeholder="Адреса на живеење (улица и град)" required>
        <label for="pin"></label>
        <input type="number" name="pin" id="pin" placeholder="ЕМБГ / ЕМБС" required minlength="7" maxlength="13">
        <label for="phone"></label>
        <input type="tel" name="phone" placeholder="Телефонски број">
        <hr>
        <button class="btn" type="submit"> Креирај клиент </button>
    </form>
</main>
<%- include('../../shared/includes/footer')%>
