
<%- include('../../shared/includes/head', {pageTitle: 'Внеси нова полиса'})%>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include('../../shared/includes/header')%>
<main>
<h1>Внеси нова полиса</h1>
<%- include('../../shared/includes/newPolicy')%>
</main>
<%- include('../../shared/includes/footer')%>
