<%- include('../../shared/includes/head', {pageTitle: 'All Clients'})%>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
 <%- include('../../shared/includes/header')%>
<main>
    <h1>Листа на клиенти за кој се подготвува тужба</h1>
    

</main>

<%- include('../../shared/includes/footer')%>


