<article>
  <table class="clients-table">
    <thead>
      <tr>
        <th>Име / назив на клиент</th>
        <th>ЕМБГ/ЕМБС на клиент</th>
        <th>Канцеларија</th>
        <th>Статус</th>
        <th>Детали</th>
      </tr>
    </thead>
    <tbody>
      <% for (const client of clients ) { %>
      <tr class="client-row">
        <td><%=client.name%></td>
        <td><%=client.pin%></td>
        <td style="font-size: smaller;"><%=client.agentName%></td>
        <td>
          <% if(client.startedLawsuit) {%>
          Клиентот е тужен
          <%} else { %>
          <span>---</span>
          <% } %>
        </td>
        <td>
          <a class="btn" href="/agents/clients/<%=client.id%>">Види</a>
        </td>
      </tr>
      <% } %>    
    </tbody>
  </table>
</article>
