<ul class="nav-items">
    <% if(locals.isAdmin) { %>
        <li><a href="/all-payments"> Уплати </a></li>
        <li><a href="/all-policies"> Полиси </a></li>
        <li><a href="/all-clients"> Kлиенти </a></li>
        
        <li class="dropdown">
            <a href="#" class="dropbtn">Присилна наплата</a>
            <div class="dropdown-content">
                <a href="/debt-clients">Тужени</a>
                <a href="/enforcement-agent">Извршител</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" class="dropbtn">Агенти</a>
            <div class="dropdown-content">
                <a href="/admin/daily-report">Агенти</a>
                <a href="/signup">Креирај агент</a>
            </div>
        </li>
    <% } else if(locals.isEditor) { %>
        <li><a href="/all-payments"> Уплати </a></li>
        <li><a href="/all-policies"> Полиси </a></li>
        <li><a href="/all-clients"> Kлиенти </a></li>
        
        <li class="dropdown">
            <a href="#" class="dropbtn">Присилна наплата</a>
            <div class="dropdown-content">
                <a href="/debt-clients">Тужени</a>
                <a href="/enforcement-agent">Извршител</a>
            </div>
        </li>
    <% } else if(locals.isAuth) { %>
        <li><a href="/all-policies"> Полиси </a></li>
    <% } %>
    
    <% if(locals.isAuth) { %>
        <li>
            <form id="nav-form" action="/logout" method="POST">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <button class="btn">Одјава</button>
            </form>
        </li>
    <% } else { %>
        <li><a href="/login">Логирај се</a></li>
    <% } %>
</ul>
