/* public/styles/policy-trends.css */
body {
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select, input {
    padding: 5px;
    /* margin-bottom: 10px; */
}

canvas {
    margin-top: 20px;
}

.search-agent-div {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
}
.search-agent-div button{
    width: 60%;
    height: 80%;
    margin: auto;
}