    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/policies.css">
</head>
<body>
 <main>

  <h1>Payments on <%= theDate %> </h1>

    <br>
    <hr>
    <br>

    <hr>    
 
<hr>
</main>

 
